h1,h2,h4,a {
	font-family: 'Indie Flower', cursive;
}
h2>span,h1>span{
    font-family: "Roboto", sans-serif;
}
.desc{
    overflow-y:auto;
    overflow-x:hidden;
    max-height:200px;
}
footer{
    padding:5px;
}
.cardBtn{
    width: 100%;
    color:#ffab40;
}
.landingBtn{
    width:230px;
}
.parallax-container {
    height: 375px;
}