h1,h2,h4,a {
	font-family: 'Indie Flower', cursive;
}
.desc{
    overflow-y:auto;
    overflow-x:hidden;
    height:200px;
}
footer{
    padding:5px;
}
.petCard{
    height: 800px;
    overflow:auto;
}