h1,h2,h3,h4,h5,a {
	font-family: 'Indie Flower', cursive;
}
.desc{
    overflow-y:auto;
    overflow-x:hidden;
    height:200px;
}
footer{
    padding:5px;
}
.petCard{
    width:25%;
    margin:5px;
}